.aboutmedescription {
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13%;
    margin-left: 5%;
    margin-right: 5%;
}

.profile-svg {
    margin-right: 70px;
    height: auto;
    min-width: 300px;
}

.p-text {
    margin: 2rem;
}

@media (max-width: 1000px) {
    .aboutmedescription {
        flex-direction: column;
        text-align: center;
        /* optional: centers the text under the image */
    }

    .aboutmedescriptionintro {
        margin-top: 10%;
    }

    .profile-svg {
        margin-right: 0px;
    }
    
    .aboutmedescriptiontext p{
        font-size: 16px !important;
    }

    .aboutmedescriptiontext h1, p{
        margin-left: 20px !important;
    }
}

.aboutme-p {
    margin-bottom: 30px;
    font-size: 40px;
}

.aboutmedescriptionintro {}

.aboutmedescriptiontextcontainer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* background: linear-gradient(to top, #A1ABFC, #4F557F); */
    background: #4F557F;
    padding: 2rem;
}

.aboutmedescriptiontextcontainer p {
    font-size: 20px;
    margin-bottom: 7%;
}

.aboutmedescriptiontext h2 {
    color: white !important;
    font-size: 30px;
}

.aboutmedescriptiontext {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media (max-width: 1000px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}